.blink {
  animation: blinker 2s linear infinite;
}

.siren {
  animation: siren 3s ease infinite;
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.15;
}

.level-1{
  z-index: 1;
}

.level-2{
  z-index: 2;
}

.red-record {
  color: red;
  font-size: 50px!important;
  position: absolute;
  top: 32px;
  right: 32px;
}

.settings{
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.lower-score{
  color: red;
}

.higher-score{
  color: green;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes siren {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100%{
    background-color: red;
  }
}