.blink {
  animation: blinker 2s linear infinite;
}

.siren {
  animation: siren 3s ease infinite;
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.15;
  left: 50%;
  top: 50%;
	pointer-events: none;
  transform: translate(-50%, -50%);
}

div[class*="title-header"]{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  --aug-border-all: 5px;
  --aug-inlay-all: 10px;
  padding: 15px; 
  text-align: center;
  --aug-border-bg: #33ff33;
  --aug-inset-bg: #fefefe;
  --aug-inlay-opacity: 0.25;
  --aug-tl: 32px;
  --aug-br: 32px;
}

.start-button-container{
  margin-top: auto;
  margin-bottom: 10px;
}

.about-button{
 margin-right: 10px;
}

.level-1{
  z-index: 1;
}

.level-2{
  z-index: 2;
}

.red-record {
  color: red;
  font-size: 50px!important;
  position: absolute;
  top: 32px;
  right: 32px;
}

.timer {
  position: absolute;
  font-size: 128px;
  top: 128px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
}

.score-position {
  position: absolute;
  font-size: 64px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.end-score{
  font-size: 128px;
}

.multi-button-container{
  display: flex;
}

.settings{
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.lower-score{
  color: #ffb000;
}

.higher-score{
  color: #66ff66;
}

.answer-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes siren {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100%{
    background-color: red;
  }
}