body {
  margin: 0;
  font-family: ZXX, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none; */
}

/* .MuiIconButton-root:hover{
  cursor: none;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.monster-font {
  font-family: Monster;
}

@font-face {
  font-family: 'ZXX';
  src: local('ZXX'), url(./common/fonts/ZXXSans.otf) format('opentype');
}

@font-face {
  font-family: 'ZXX';
  font-weight: 900;
  src: local('ZXX'), url(./common/fonts/ZXXBold.otf) format('opentype');
}

@font-face {
  font-family: 'Monster';
  src: local('Monster'), url(./common/fonts/Monster.ttf) format('truetype');
}