.cursor {
  width: 60px;
  height: 40px;
  background-color: #fefefe;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(1, 1);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor-hidden {
  opacity: 0;
}

.cursor-clicked {
  transform: translate(-50%, -50%) scale(1, .05);
}

@keyframes blink {
  0%, 100% {
      transform: scale(1, .05);
  }
  5%,
  95% {
      transform: scale(1, 1);
  }
}